module Cucumber
  module Parser
    grammar Basic
      rule comment
        "# My comment"
      end

      rule blank
        [ \t]
      end

      rule eol
        ("\r" "\n"?) / "\n" / eof
      end
      
      rule eof
        !.
      end
    end
  end
end
