module Cucumber
  module Parser
    grammar Basic
      rule comment
        '#' line_to_eol
      end

      rule line_to_eol
        (!eol .)*
      end

      rule blank
        [ \t]
      end

      rule eol
        ("\r" "\n"?) / "\n" / eof
      end
      
      rule eof
        !.
      end
    end
  end
end
