module Cucumber
  module Parser
    grammar Basic
      rule comment
        (comment_line eol)+
      end

      rule comment_line
        '#' line_to_eol
      end

      rule line_to_eol
        (!eol .)*
      end

      rule whitesss
        blank / eol
      end

      rule space
        [ \t]
      end

      rule eol
        "\n" / ("\r" "\n"?)
      end
      
      rule eof
        !.
      end
    end
  end
end
