module Cucumber
  module Parser
    grammar Table
      rule record
        cell_value separator record {
          def build
            [cell_value.text_value] + record.build
          end
        }
        /
        cell_value {
          def build
            [text_value]
          end
        }
      end
      
      rule separator
        '|'
      end
      
      rule cell_value
        (!separator .)+
      end
    end
  end
end
