.bundle
coverage
pkg
doc
tmp
.yardoc
*.log
*.pid
.eprj
.DS_Store
target
.idea
.vscode
*.rbc
rerun.txt
.rvmrc
.sass-cache
doc/
*.tgz
tags
.ruby-version
.project
Gemfile.local
Gemfile.local.lock
.envrc
Gemfile.lock
acceptance/*
