sudo: false

rvm:
  - 2.3.0
  - 2.2
  - 2.1
  - 2.0
  - 1.9.3
  - jruby-1.7.12

# whitelist
branches:
  only:
    - master
    - resolve-issue-882
    - v1.3.x-bugfix
    - v2.x-bugfix

before_install:
  - gem update bundler

notifications:
  email: false
