# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2.0

jobs:
  "ruby-2.6":
    docker:
       - image: circleci/ruby:2.6
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - bundle-{{ checksum "cucumber.gemspec" }}
      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          paths:
            - ./vendor/bundle
          key: bundle-{{ checksum "cucumber.gemspec" }}
      - run:
          name: Run Rake
          command: bundle exec rake || echo "Ignoring failure as Ruby 2.6 support is 'optional' at this point in time."
  "ruby-2.5":
    docker:
       - image: circleci/ruby:2.5
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - bundle-{{ checksum "cucumber.gemspec" }}
      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          paths:
            - ./vendor/bundle
          key: bundle-{{ checksum "cucumber.gemspec" }}
      - run:
          name: Run Rake
          command: bundle exec rake

  "ruby-2.4":
    docker:
       - image: circleci/ruby:2.4
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - bundle-{{ checksum "cucumber.gemspec" }}
      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          paths:
            - ./vendor/bundle
          key: bundle-{{ checksum "cucumber.gemspec" }}
      - run:
          name: Run Rake
          command: bundle exec rake

  "jruby":
    docker:
       - image: circleci/jruby:9.2
    working_directory: ~/repo
    steps:
      - checkout
      - restore_cache:
          keys:
          - bundle-{{ checksum "cucumber.gemspec" }}
      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          paths:
            - ./vendor/bundle
          key: bundle-{{ checksum "cucumber.gemspec" }}
      - run:
          name: Run Rake
          command: bundle exec rake

workflows:
  version: 2
  build:
    jobs:
      # Keep lowest ruby-* version in sync with cucumber.gemspec & .rubocop.yml
      - "ruby-2.6"
      - "ruby-2.5"
      - "ruby-2.4"
      - "jruby"
