# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2.1

orbs:
  win: circleci/windows@2.2.0

commands:
  add_windows_dependencies:
    description: "Update Windows environment"

    steps:
      - run:
          name: "Add ansicon"
          command: |
            choco install ansicon

  build:
    description: "Build and run the tests"
    steps:
      - checkout
      - restore_cache:
          keys:
          - bundle-{{ checksum "cucumber.gemspec" }}
      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          paths:
            - ./vendor/bundle
          key: bundle-{{ checksum "cucumber.gemspec" }}

  test:
    description: "Run tests"
    steps:
      - run:
          name: run tests
          command: |
            bundle exec rake

  test_allow_failure:
    description: "Run tests (allow failure so workflow is not marked as failed)"
    steps:
      - run:
          name: run tests with allowed failure
          command: |
            set -o errexit
            bundle exec rake
            set -o errexit

jobs:
  build_windows:
    executor: win/default
    working_directory: ~/repo
    steps:
      - add_windows_dependencies
      - build
      - run:
          name: run tests
          command: |
            bundle exec rspec
            bundle exec cucumber --retry 4 --no-strict-flaky

  build-ruby-2_3:
    docker:
      - image: circleci/ruby:2.3

    working_directory: ~/repo
    steps:
      - build
      - test

  build-ruby-2_4:
    docker:
      - image: circleci/ruby:2.4

    working_directory: ~/repo
    steps:
      - build
      - test

  build-ruby-2_5:
    docker:
      - image: circleci/ruby:2.5

    working_directory: ~/repo
    steps:
      - build
      - test

  build-ruby-2_6:
    docker:
      - image: circleci/ruby:2.6

    working_directory: ~/repo
    steps:
      - build
      - test

  build-jruby-9_2:
    docker:
      - image: circleci/jruby:9.2.8.0

    working_directory: ~/repo
    steps:
      - build
      - test

  build-ruby-latest:
    docker:
      - image: circleci/ruby:latest

    working_directory: ~/repo
    steps:
      - build
      - test_allow_failure

  build_monorepo:
    docker:
      - image: cucumber/cucumber-build:889c9aabdae3f09025837b97c358d10a
    working_directory: ~
    steps:
      - run:
          name: Checkout monorepo and build
          command: |
            git clone https://github.com/cucumber/cucumber.git ~/cucumber
            cd ~/cucumber
            NO_CROSS_COMPILE=1 LANGUAGES=go PACKAGES="messages json-formatter" make
      - persist_to_workspace:
          root: ~/cucumber
          paths:
            - compatibility-kit
            - json-formatter

  validate-cck:
    docker:
      - image: cucumber/cucumber-build:889c9aabdae3f09025837b97c358d10a
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - checkout
      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - run:
          name: Validates against CCK
          command: |
            cd ~/cucumber/compatibility-kit/ruby
            CUCUMBER_RUBY=~/repo make

  validate-messages:
    docker:
      - image: cucumber/cucumber-build:889c9aabdae3f09025837b97c358d10a
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: "~/cucumber"
      - checkout
      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - run:
          name: Validates messages with JSON
          command: |
            cd ~/repo
            MONOREPO_PATH=~/cucumber make

workflows:
  version: 2

  nightly-build:
    triggers:
      - schedule:
          cron: "0 5 * * *"
          filters:
            branches:
              only:
                - master

    jobs:
      - build-ruby-2_3
      - build-ruby-2_4
      - build-ruby-2_5
      - build-ruby-2_6

  build:
    jobs:
      - build_windows
      - build-ruby-2_3
      - build-ruby-2_4
      - build-ruby-2_5
      - build-ruby-2_6
      - build-ruby-latest
      - build-jruby-9_2
      - build_monorepo
      - validate-cck:
          requires:
            - build_monorepo
      - validate-messages:
          requires:
            - build_monorepo
