# Ruby CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-ruby/ for more details
#
version: 2.1

commands:
  build:
    description: "Build and run the tests"

    steps:
      - checkout
      - restore_cache:
          keys:
          - bundle-{{ checksum "cucumber.gemspec" }}
      - run:
          name: install dependencies
          command: |
            bundle install --jobs=4 --retry=3 --path vendor/bundle
      - save_cache:
          paths:
            - ./vendor/bundle
          key: bundle-{{ checksum "cucumber.gemspec" }}

  test:
    description: "Run tests"
    steps:
      - run:
          name: run tests
          command: |
            bundle exec rake

  test_allow_failure:
    description: "Run tests (allow failure so workflow is not marked as failed)"
    steps:
      - run:
          name: run tests with allowed failure
          command: |
            set -o errexit
            bundle exec rake
            set -o errexit

jobs:
  build-ruby-2_3:
    docker:
      - image: circleci/ruby:2.3

    working_directory: ~/repo
    steps:
      - build
      - test

  build-ruby-2_4:
    docker:
      - image: circleci/ruby:2.4

    working_directory: ~/repo
    steps:
      - build
      - test

  build-ruby-2_5:
    docker:
      - image: circleci/ruby:2.5

    working_directory: ~/repo
    steps:
      - build
      - test

  build-ruby-2_6:
    docker:
      - image: circleci/ruby:2.6

    working_directory: ~/repo
    steps:
      - build
      - test

  build-ruby-latest:
    docker:
      - image: circleci/ruby:latest

    working_directory: ~/repo
    steps:
      - build
      - test_allow_failure

  validate-cck:
    docker:
      - image: circleci/ruby:2.6
    working_directory: ~/repo
    steps:
      - build
      - run:
          name: Checkout monorepo
          command: |
            git clone git@github.com:cucumber/cucumber.git ~/cucumber
      - run:
          name: Validates against CCK
          command: |
            cd ~/repo/cck
            MONOREPO_PATH=~/cucumber make

  validate-messages:
    docker:
      - image: circleci/ruby:2.6
    working_directory: ~/repo
    steps:
      - build
      - run:
          name: Checkout monorepo and build
          command: |
            git clone git@github.com:cucumber/cucumber.git ~/cucumber
            cd ~/cucumber
            LANGUAGES=go make
      - run:
          name: Validates messages with JSON
          command: |
            cd ~/repo
            MONOREPO_PATH=~/cucumber make

workflows:
  version: 2

  nightly-build:
    triggers:
      - schedule:
          cron: "0 5 * * *"
          filters:
            branches:
              only:
                - master

    jobs:
      - build-ruby-2_3
      - build-ruby-2_4
      - build-ruby-2_5
      - build-ruby-2_6

  build:
    jobs:
      - build-ruby-2_3
      - build-ruby-2_4
      - build-ruby-2_5
      - build-ruby-2_6
      - build-ruby-latest
      - validate-cck
      - validate-messages
