name: Test cucumber

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 5 * * *"

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        ruby: ['2.5', '2.6', '2.7', '3.0', '3.1']
        include:
          - os: ubuntu-latest
            ruby: jruby-9.2
          - os: ubuntu-latest
            ruby: jruby-9.3
        exclude:
          - ruby: '2.5'
            os: windows-latest

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - name: Run ruby tests
        uses: ./.github/actions/test-ruby
        with:
          ruby-version: ${{ matrix.ruby }}
